<div class="ft-box col-xs-10 col-xs-offset-1">
  <h1>How can we assist you today?</h1>
  <h2><%= @requests.inspect %></h2>
  
  <% if request.user.present? %>
    <small><%= request.user.email %></small>
  <% end %>
</div>
