<div class="ft-box col-xs-10 col-xs-offset-1">
  <h1 class="col-xs-12 col-md-10">Services</h1>
  <div class="clear"></div>
  <hr />

  <div class="col-xs-12">
    <h2 class="col-xs-12 col-md-10">Desktop & Laptop Diagnostics</h2>
    <br />
    <div class="col-xs-12 col-md-2">
      <button type="button" class="btn btn-42 has-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-title="<b>Pricing</b>" data-content="<b>Us = $60</b> <br /> Them = $120">
        Pricing
      </button>
    </div>
    <div class="clear"></div>
    <br />
    <p class="col-xs-12">
      Not sure why your computer isn't turning on? Not recieving those emails?
      Computer won't boot into the operating system?

      These are all symptoms of something is wrong. With our diagnostics services
      we can take your computer and determine what is ailing your machine and your
      sanity.

      Utilizing sophisticated hardware diagnostics software and years of
      experience, let us be your choice in technical assistance.
    </p>
  </div>

  <div class="col-xs-12">
    <h2 class="col-xs-12 col-md-10">Malware / Virus Removal</h2>
    <div class="col-xs-12 col-md-2">
      <button type="button" class="btn btn-42 has-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-title="<b>Pricing</b>" data-content="<b>Us = $80</b> <br /> Them = $100">
        Pricing
      </button>
    </div>
    <br />
    <p class="col-xs-12">
      Have you caught something? Excessive pop-ups? Machine running at a snails pace?
      There's a good chance you have an infection.

      Today's ecosystem makes it very easy to get tricked into installing something
      you didn't want, often leading to an infection. Malware & Virus development is
      a multi-billion dollar a year black market industry.

      With that scary knowledge there is no shortage of people trying to do your machine
      harm. You're not unprotected, there are a subset of the technology industry doing
      head to head battle with the black markets.

      Don't get tricked into being a victim let us save you from the digital evil. Numerous
      years of experience and constant learning on latest attack vectors gives us an
      advantage to address these nefarious foe.
    </p>
  </div>

  <div class="col-xs-12">
    <h2 class="col-xs-12 col-md-10">Machine Tune-Up</h2>
    <div class="col-xs-12 col-md-2">
      <button type="button" class="btn btn-42 has-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-title="<b>Pricing</b>" data-content="<b>Us = $80</b> <br /> Them = $100">
        Pricing
      </button>
    </div>
    <br />
    <p class="col-xs-12">
      Even the most expensive, fastest, and advanced computers have their slow days. Over time we install programs that we don't
      want or don't need and those programs clutter up our computer. Having too many unnecessary programs
      can have a huge negative impact. We often recommend our customers to do a machine tune-up once a
      year, you wouldn't let your car a year without an oil change why would you let your computer go a
      year without it's proper maintenance.
    </p>
  </div>

  <div class="col-xs-12">
    <h2 class="col-xs-12 col-md-10">Operating System Reload</h2>
    <div class="col-xs-12 col-md-2">
      <button type="button" class="btn btn-42 has-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-title="<b>Pricing</b>" data-content="<b>Us = $120</b> <br /> Them = $150">
        Pricing
      </button>
    </div>
    <br />
    <p class="col-xs-12">
      Sometimes the best approach is just starting from scratch. There are just some things that can't be
      solved by software and you just need to wipe the computer clean. Don't worry though as long as your
      hard drive is in good working condition you don't need to lose your important documents, photos, music, and
      movies. With every operating system reload we do a full user profile backup, we'll even verify your data
      isn't saved in a funny location. <i>Sometimes the best approach is the fresh approach</i>.
    </p>
  </div>

  <div class="col-xs-12">
    <h2 class="col-xs-12 col-md-10">Business Services</h2>
    <div class="col-xs-12 col-md-2">
      <button type="button" class="btn btn-42 has-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-title="<b>Pricing</b>" data-content="<b>Contact For A Quote</b>">
        Pricing
      </button>
    </div>
    <br />
    <p class="col-xs-12">
      We know the needs and requirements of a small business, we are one. We can offer a whole range of tune-ups, removals, network
      customizations, server installments and configurations; something you are looking for not on the list, no problem give us a call today.
    </p>
  </div>

  <div class="col-xs-12">
    <h2 class="col-xs-12 col-md-10">Web Development & Design</h2>
    <div class="col-xs-12 col-md-2">
      <button type="button" class="btn btn-42 has-popover" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-title="<b>Pricing</b>" data-content="<b>Contact For A Quote</b>">
        Pricing
      </button>
    </div>
    <br />
    <p class="col-xs-12">
      Website looking a bit web 1.0? No problem we can freshen that essential piece of digital real estate. Your site not mobile optimized?
      No problem we can spruce that code up so you won't be shamed by Google or Bing results. Need a web application built to give you a
      competitive edge? No problem we can build you an excellent web application to service your needs. Call us today to inquire about your web design
       and development needs.
    </p>
  </div>
</div>
<br />
<br />
<br />
