@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  padding-top: 70px;
  background-image: url('/assets/gplaypattern.png');
}

.navbar {
  border-radius: 0;
  background-image: url('/assets/escheresque_ste.png');
}

.navbar-inverse .navbar-brand {
  font-size: 2em;
  color: #26C281;
  font-family: 'Lobster', 'Helvetica-Nueue', Helvetica, sans-serif;
}

.navbar-right {
  margin-left: 15px;

}

.slogan {
  color: #fff;
  margin-left: 15px;
  padding-left: 5px;
}

.ft-box {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, .65);
  color: #fff;
}

.ft-box-sub {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, .65);
  color: #fff;
}
