///////////////////////////////
//        FONTS             //
//////////////////////////////

@import url(http://fonts.googleapis.com/css?family=Lobster);

///////////////////////////////
//      HTML ELEMENTS       //
//////////////////////////////

body {
  padding-top: 90px;
  background-image: url('/assets/gplaypattern.png');
}

p {
  font-size: 1.25em;
}

hr {
  border-color: #26C281;
}

////////////////////////////////////
//      NAVIGATION BAR            //
///////////////////////////////////


.navbar {
  min-height: 80px;
  border-radius: 0;
  background-image: url('/assets/escheresque_ste.png');
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 5px 15px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 5px 15px 0px rgba(50, 50, 50, 0.75);
}

.navbar-toggle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-inverse .navbar-brand {
  font-size: 2em;
  color: #26C281;
  font-family: 'Lobster', 'Helvetica-Nueue', Helvetica, sans-serif;
  line-height: 40px;
}

.navbar-right {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inverse .navbar-nav li a {
  color: #26C281;
}

@media only screen and (min-width: 768px ) {
  .navbar-right {
    margin-left: -15px;

  }
}

.slogan {
  color: #fff;
  margin-top:15px;
  margin-left: 15px;
  padding-left: 5px;
}

////////////////////////////
//    BODY STYLING        //
////////////////////////////

.clear {
  clear: both;
}

.left {
  text-align: left;
}


.ft-box {
  border-radius: 8px 8px 2px 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);
}

.ft-box h1 {
  font-family: 'Lobster', 'Helvetica-Nueue', Helvetica, sans-serif;
  color: #26C281;
  font-size: 50px;
}

.ft-box h2 {
  font-family: 'Lobster', 'Helvetica-Nueue', Helvetica, sans-serif;
  color: #26C281;
}

.ft-box p {
  text-align: left;
}


.btn-42 {
  background: #26C281;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.btn-42-frame {
  border-radius: 2px;
  border-bottom: 5px solid #26C281;
  margin-right: 15px;
}

.navbar-right li a:hover {
  border-bottom: 5px solid #fff;
}

@media only screen and (max-width: 768px ) {
  .btn-42-frame {
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #26C281;
    border-radius: 2px;
  }
  .navbar-right li a:hover {
    border-bottom: 3px solid #26C281;
  }
}
